@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url("./fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2") format("woff");
}
html,
body {
  font-size: 24px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
html #weather-panel,
body #weather-panel {
  border-radius: 50px;
  box-shadow: #999a 0 0 25px;
  color: #fff;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  height: 500px;
  left: calc(50% - 275px);
  padding: 25px;
  position: absolute;
  text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
  top: calc(50% - 250px);
  width: 500px;
  z-index: 10;
}
html #weather-panel .material,
body #weather-panel .material {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-bottom;
}
@supports (-webkit-text-stroke: 1px #000) {
  html #weather-panel,
  body #weather-panel {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: #fff;
  }
}
html #weather-panel #time,
body #weather-panel #time {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}
html #weather-panel #time .material,
body #weather-panel #time .material {
  font-variation-settings: "FILL" 0, "wght" 700, "opsz" 24;
  vertical-align: sub;
}
html #weather-panel #hourly,
body #weather-panel #hourly {
  display: flex;
  font-size: 0.75rem;
  margin: 1rem 0;
  text-align: center;
}
html #weather-panel #daily,
body #weather-panel #daily {
  display: flex;
}
html #weather-panel #daily .daily-slot,
body #weather-panel #daily .daily-slot {
  display: flex;
  flex-direction: column;
}
html #weather-panel #daily .daily-slot .range,
body #weather-panel #daily .daily-slot .range {
  white-space: nowrap;
}
html #weather-panel #daily .daily-slot .uv.moderate,
body #weather-panel #daily .daily-slot .uv.moderate {
  color: yellow;
  -webkit-text-fill-color: yellow;
}
html #weather-panel #daily .daily-slot .uv.high,
body #weather-panel #daily .daily-slot .uv.high {
  color: orange;
  -webkit-text-fill-color: orange;
}
html #weather-panel #daily .daily-slot .uv.very-high,
body #weather-panel #daily .daily-slot .uv.very-high {
  color: red;
  -webkit-text-fill-color: red;
}
html #weather-panel #daily .daily-slot .uv.extreme,
body #weather-panel #daily .daily-slot .uv.extreme {
  color: purple;
  -webkit-text-fill-color: purple;
}
html #weather-panel #current,
body #weather-panel #current {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
html #weather-panel section header,
body #weather-panel section header {
  font-size: 1.5rem;
}
