html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;

  #weather-panel {
    border-radius: 50px;
    box-shadow: #999a 0 0 25px;
    font-family: Verdana, sans-serif;
    height: 500px;
    left: calc(50% - 250px);
    padding: 40px;
    position: absolute;
    text-shadow: #fff 0 0 5px, #fff 0 0 5px, #fff 0 0 5px, #fff 0 0 5px;
    top: calc(50% - 250px);
    width: 500px;
    z-index: 10;
  }
}